:root {
    --black1: black;
    --black2: rgb(14, 14, 14);
    --white1: white;
    --white2: rgb(230, 230, 230);
    --blue: rgba(108, 99, 255, 1);
    --background1: var(--black1);
    --background2: var(--black2);
    --text: var(--white1);
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Slab', serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    min-height: 100vh;
    background-color: var(--background1);
    color: var(--text);
    display: flex;
    flex-direction: column;
    transition: all 0.25s ease-in-out;
}

::-webkit-scrollbar {
    background: rgb(39, 39, 39);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(61, 61, 61);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(99, 99, 99);
}

.navbar-container {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 5;
    background-color: rgba(34, 34, 34, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#dark-mode-switch {
    display: block;
    background-color: transparent;
    border: none;
    color: var(--text);
    padding: 10px 20px;
    transition: all 0.25s;
}

#dark-mode-switch:hover {
    cursor: pointer;
}

.desktop-navbar {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.mobile-navbar, #hamburger {
    display: none;
}

.nav-title {
    position: absolute;
    left: 0;
    font-size: 20px;
    padding: 0px 15px;
}

.desktop-navbar li {
    padding: 10px;
    font-size: 16px;
    transition: all 0.25s ease-in-out;
}

.desktop-navbar li:hover {
    background-color: var(--blue);
}

/* Home Section */

.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.home-text {
    
}

.home-text h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
}

.home-text h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}

.home-socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0px;
}

.home-socials a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-right: 15px;
    transition: all 0.1s ease-in-out;
    border-radius: 50%;
}

.home-socials a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.buttons button {
    font-size: 14px;
    height: 40px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    transition: all 0.25s ease-in-out;
    color: white;
    margin-right: 10px;
}

.buttons button:hover {
    cursor: pointer;
    background-color: var(--background1);
}

.home-container img {
    width: 50%;
}

/* About section */

.about-container {
    min-height: 100vh;
    background-color: var(--background2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about-image {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img {
    width: 80%;
    border-radius: 50%;
}

.about-main {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-main h1 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    width: 90%;
}

.about-main p {
    font-weight: 300;
    font-size: 20px;
    width: 90%;
    margin-bottom: 15px;;
}

.about-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.about-buttons button {
    font-size: 18px;
    height: 50px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    transition: all 0.25s ease-in-out;
    color: white;
    margin-right: 20px;
}

.about-buttons button:hover {
    cursor: pointer;
    background-color: var(--background1);
}

/* Skills Section */

.skills-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.skills-svg {
    width: 30%;
}

.skills-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.skills-main h1 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    width: 90%;
}

#all-skills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.skill-card {
    height: 100px;
    width: 70px;
    margin: 10px;
}

.skill-card p {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.skill-card img {
    width: 100%;
}

/* Projects Section */

.projects-container {
    min-height: 100vh;
    background-color: var(--background2);
}

/* Research Section */

.research-container {
    min-height: 100vh;
}

/* Contact Section */

.contact-container {
    min-height: 100vh;
    background-color: var(--background2);
}

@media screen and (max-width: 1000px) {
    .home-container img {
        display: none;
    }

    .skills-main {
        width: 80%;
    }
}

@media screen and (max-width: 850px) {
    .navbar-container ul {
        display: none;
    }

    #hamburger {
        display: block;
        background-color: transparent;
        color: var(--text);
        border: none;
        font-size: 18px;
        padding: 10px;
    }

    #hamburger:hover {
        cursor: pointer;
    }

    .mobile-navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        list-style-type: none;
        z-index: 5;
        background-color: rgba(34, 34, 34, 0.5);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        right: -200px;
        height: 100vh;
        width: 200px;
        transition: all 0.5s ease-in-out;
    }

    .mobile-navbar button {
        margin: 10px;
        font-size: 20px;
        background-color: transparent;
        color: var(--text);
        border: none;
    }
    
    .mobile-navbar button:hover {
        cursor: pointer;
    }

    .mobile-navbar li {
        
        padding: 10px;
        font-size: 16px;
        transition: all 0.25s ease-in-out;
        width: 100%;
    }
    
    .mobile-navbar li:hover {
        background-color: var(--blue);
    }
}

@media screen and (max-width: 800px) {
    .skills-svg {
        display: none;
    }

    .skills-main {
        width: 100%;
    }

    #all-skills {
        justify-content: center;
    }

    .about-image {
        display: none;
    }

    .about-main {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .home-text {
        margin-bottom: 20px;
    }

    .home-text h1 {
        font-size: 40px;
    }
    
    .home-text h2 {
        font-size: 20px;
    }

    .home-socials a{
        padding: 4px;
        width: 30px;
        height: 30px;
        font-size: 20px;
        margin-right: 10px;
    }

    .buttons button {
        font-size: 10px;
        height: 30px;
        width: 110px;
        padding: 5px;
        border-radius: 5px;
        background-color: var(--blue);
        border: 2px solid var(--blue);
        transition: all 0.25s ease-in-out;
        color: white;
        margin-right: 10px;
    }

    .about-buttons button {
        font-size: 14px;
        height: 40px;
        width: 110px;
        padding: 5px;
        border-radius: 5px;
        background-color: var(--blue);
        border: 2px solid var(--blue);
        transition: all 0.25s ease-in-out;
        color: white;
        margin-right: 10px;
    }
}

