:root {
    --dark-gray: #222;
    --blue: rgba(108, 99, 255, 1);
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Slab', serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    background: rgb(39, 39, 39);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(61, 61, 61);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(99, 99, 99);
}

.navbar-container {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 5;
    background-color: var(--dark-gray);
    color: white;
}

.navbar-container ul {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-title {
    position: absolute;
    left: 0;
    padding: 10px 15px;
    font-size: 20px;
}

.navbar-container li {
    padding: 10px;
    font-size: 16px;
    transition: all 0.25s ease-in-out;
}

.navbar-container li:hover {
    background-color: var(--blue);
}

.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.home-text {
    color: white;
}

.home-text h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
}

.home-text h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}

.home-socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0px;
}

.home-socials a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-right: 15px;
    transition: all 0.1s ease-in-out;
    border-radius: 50%;
}

.home-socials a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.buttons button {
    font-size: 14px;
    height: 40px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    transition: all 0.25s ease-in-out;
    color: white;
    margin-right: 10px;
}

.buttons button:hover {
    cursor: pointer;
    background-color: black;
}

.home-container img {
    width: 50%;
}

/* Skills Section */

.skills-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 14, 14);
}

.nimish-svg {
    width: 30%;
    border-radius: 50%;
}

.skills-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.skills-main h1 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    width: 90%;
}

#all-skills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.skill-card {
    height: 100px;
    width: 70px;
    margin: 10px;
}

.skill-card p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.skill-card img {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .home-container img {
        display: none;
    }

    .skills-main {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .nimish-svg {
        display: none;
    }

    .skills-main {
        width: 100%;
    }

    #all-skills {
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .home-text {
        margin-bottom: 20px;
    }

    .home-text h1 {
        font-size: 40px;
    }
    
    .home-text h2 {
        font-size: 20px;
    }

    .home-socials a{
        padding: 4px;
        width: 30px;
        height: 30px;
        font-size: 20px;
        margin-right: 10px;
    }

    .buttons button {
        font-size: 10px;
        height: 30px;
        width: 110px;
        padding: 5px;
        border-radius: 5px;
        background-color: var(--blue);
        border: 2px solid var(--blue);
        transition: all 0.25s ease-in-out;
        color: white;
        margin-right: 10px;
    }
}